.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.box-left,
.box-right {
  padding: 20px; 
  background-color: #ccc;
  width: 150px; 
  height: 100px;
}

.box-left {
  
  margin-right: auto;
}

.box-right {
  
  margin-left: auto;
}

ol {
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
 }
 
 
 li {
   float: left;
 }
 
 li a {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #f0f0f0;
  padding: 10px 20px;
 }
 
 li a:hover {
   background-color: #111111;
 
 }

 body {
  border: 1px black solid;
  margin: 50 50;
  background-color: #F0F0F0;
}