.header {
  display: flex;
  justify-content: space-between; /* Aligns items with space between them */
  align-items: center; /* Aligns items vertically */
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.box-left,
.box-right {
  padding: 10px;
  background-color: #ccc;
}

.box-left {
  
  margin-right: auto;
}

.box-right {
  
  margin-left: auto;
}
