
body {
  margin: 0;
  font-family: "League Spartan", sans-serif;

}


.header {
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    width: 98.8%;
    height: 6%;

}

.header a {
    float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo{
  font-size: 80px;
  color: #555555;
  font-weight: bold;

}
.header a.logo:hover {
  background-color: transparent;
}


  .header-right {
  float: right;

      text-align: center;
}


.header a.user {
    color: #555555;
}
.header a.overview {
  background-color: #A57959;
}

.header a.pay {
  background-color: #ceac8f;
}

.header a.plan {
  background-color: #D5DBD9;
}

.header a.do {
  background-color: #BFC4BA;
}

.header a.about {
  background-color: #B2ABA1;
}
.active {
    outline: 2px solid #cccccc;
    outline-offset: 2px;
    border-radius: 5px;
}
.header a:hover {
  background-color: #555;
}
.header a.user:hover{
    background: whitesmoke;
}

.container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}


.wallpaper {
  background-image: url("wallpaper.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.centered-box {
  background-color: #f0f0f0;
  margin: 10px;
  border-radius: 10px;
}

.vertical {
    flex-direction: column;
    flex: 1;
    margin-left: 2%;
    margin-right: 10px;
    justify-items: flex-start;
}
.homeContainer {
    width: 400px;
    height: 150px;
    text-align: center;
    margin: 50px;
    background-color: white;
    border-radius: 10px;

}

large-box {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    width: 65%;
    border-radius: 10px;


}

.calendar-box {
    margin: 10px;
    width: 65%;
    height: 100%;
}

.title {
    height: 15%;
    justify-content: center;
    color: #777777;

}
.links{
    text-decoration: none;
    color: #777777;
}
.small-box {
    background-color: #f0f0f0;
    margin: 10px;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;

}

.label-box {
  text-align: center;
  background-color: #ccc;
  padding: 10px;

}
.content-box {
  background-color: #f0f0f0;
  padding: 10px;

}

.task-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}
#footer {
    background: #222;
    color: #fff;
    display: block;
    float: left;
}

.homeButton {
    display: inline-block;
    padding: 5px 10px;
    background-color: whitesmoke;
    color: black;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: black;

}
.homeTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    color: #555555;
}

.homeSentence {
    font-size: 18px;
    margin-bottom: 20px;
    color: #777777;
}

.month {
    padding: 10px;
    width: auto;
    background: #A57959;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.month ul {
    margin: 0;
    padding: 10px;
    height: 50px;
    color: whitesmoke;
    font-size: xxx-large;
}

.weekdays {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}
.days {
    width: 100%;
    padding: 10px;
    padding-right: 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.5%;
    height: 15%;
    text-align: left;

    font-size: 12px;
    color: #777;
    position: relative;
}

.days li .active {
    background: #A57959;
    color: white !important;
}

.message{
    margin: 5px;
    color: white;
    padding: 5px 10px;
    width: 98%;
    background-color: #e3826d;
    border-radius: 5px;
    display: inline-block;
}
.skinny-message{
    width: 95%;
}
.signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.signup-form {
    margin: 20px auto ;
    padding: 20px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-block;

}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.item-box {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.small-item {
    color: whitesmoke;
    width: 10%;
    height: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 10px;
    text-decoration: none;

}
.small-item.chore{
    background-color: #BFC4BA;


}
.small-item.bill{
    background-color: #ceac8f;

}
.small-item.event{
    background-color: #D5DBD9;

}
.item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.item:last-child {
    border-bottom: none;
}

.item span {
    flex: 1;
    padding: 5px;
}

.item span:first-child {
    margin-right: 10px;
}